.sep-weeks {
    color: black;
    border: 1px black solid;
    margin: 1rem;

}
.content-iframe {
    position: fixed;
    top: 60px; /* Debe ser igual a la altura de la barra de navegación */
    left: 0;
    width: 100%;
    height: calc(100% - 60px); /* Resta la altura de la barra de navegación */
    overflow: auto; /* Agrega un scroll si el contenido es más grande que el área visible */
    background-color: #f9f9f9; /* Cambia esto según tus necesidades */
    padding: 2rem;

}